#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;
NET "ROMDataLine<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "ROMDataLine<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "ROMDataLine<2>" LOC = P5 | IOSTANDARD = LVTTL;
NET "ROMDataLine<3>" LOC = P6 | IOSTANDARD = LVTTL;
NET "ROMDataLine<4>" LOC = P7 | IOSTANDARD = LVTTL;
NET "ROMDataLine<5>" LOC = P8 | IOSTANDARD = LVTTL;
NET "ROMDataLine<6>" LOC = P9 | IOSTANDARD = LVTTL;
NET "ROMDataLine<7>" LOC = P10 | IOSTANDARD = LVTTL;
NET "ROMDataLine<8>" LOC = P11 | IOSTANDARD = LVTTL;
NET "ROMDataLine<9>" LOC = P12 | IOSTANDARD = LVTTL;
NET "ROMDataLine<10>" LOC = P14 | IOSTANDARD = LVTTL;
NET "ROMDataLine<11>" LOC = P15 | IOSTANDARD = LVTTL;
NET "ROMDataLine<12>" LOC = P16 | IOSTANDARD = LVTTL;
NET "ROMDataLine<13>" LOC = P17 | IOSTANDARD = LVTTL;
NET "ROMDataLine<14>" LOC = P21 | IOSTANDARD = LVTTL;
NET "ROMDataLine<15>" LOC = P22 | IOSTANDARD = LVTTL;

NET "ROMAddressLineCtl<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<2>" LOC = P66 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<3>" LOC = P67 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<4>" LOC = P74 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<5>" LOC = P75 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<6>" LOC = P78 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<7>" LOC = P79 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<8>" LOC = P80 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<9>" LOC = P81 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<10>" LOC = P82 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<11>" LOC = P83 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<12>" LOC = P84 | IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl<13>" LOC = P85 | IOSTANDARD = LVTTL;

NET "ROMLoad" LOC = P40 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

