#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38;
NET "rst_n" IOSTANDARD = LVTTL;

NET "cclk" LOC = P70;
NET "cclk" IOSTANDARD = LVTTL;

NET "led[0]" LOC = P134;
NET "led[0]" IOSTANDARD = LVTTL;
NET "led[1]" LOC = P133;
NET "led[1]" IOSTANDARD = LVTTL;
NET "led[2]" LOC = P132;
NET "led[2]" IOSTANDARD = LVTTL;
NET "led[3]" LOC = P131;
NET "led[3]" IOSTANDARD = LVTTL;
NET "led[4]" LOC = P127;
NET "led[4]" IOSTANDARD = LVTTL;
NET "led[5]" LOC = P126;
NET "led[5]" IOSTANDARD = LVTTL;
NET "led[6]" LOC = P124;
NET "led[6]" IOSTANDARD = LVTTL;
NET "led[7]" LOC = P123;
NET "led[7]" IOSTANDARD = LVTTL;
NET "Ones[0]" LOC = P1;
NET "Ones[0]" IOSTANDARD = LVTTL;
NET "Ones[1]" LOC = P2;
NET "Ones[1]" IOSTANDARD = LVTTL;
NET "Ones[2]" LOC = P5;
NET "Ones[2]" IOSTANDARD = LVTTL;
NET "Ones[3]" LOC = P6;
NET "Ones[3]" IOSTANDARD = LVTTL;
NET "Ones[4]" LOC = P7;
NET "Ones[4]" IOSTANDARD = LVTTL;
NET "Ones[5]" LOC = P8;
NET "Ones[5]" IOSTANDARD = LVTTL;
NET "Ones[6]" LOC = P9;
NET "Ones[6]" IOSTANDARD = LVTTL;
NET "Tens[0]" LOC = P10;
NET "Tens[0]" IOSTANDARD = LVTTL;
NET "Tens[1]" LOC = P11;
NET "Tens[1]" IOSTANDARD = LVTTL;
NET "Tens[2]" LOC = P12;
NET "Tens[2]" IOSTANDARD = LVTTL;
NET "Tens[3]" LOC = P14;
NET "Tens[3]" IOSTANDARD = LVTTL;
NET "Tens[4]" LOC = P15;
NET "Tens[4]" IOSTANDARD = LVTTL;
NET "Tens[5]" LOC = P16;
NET "Tens[5]" IOSTANDARD = LVTTL;
NET "Tens[6]" LOC = P17;
NET "Tens[6]" IOSTANDARD = LVTTL;

NET "Hundreds[0]" LOC = P57;
NET "Hundreds[0]" IOSTANDARD = LVTTL;
NET "Hundreds[1]" LOC = P58;
NET "Hundreds[1]" IOSTANDARD = LVTTL;
NET "Hundreds[2]" LOC = P66;
NET "Hundreds[2]" IOSTANDARD = LVTTL;
NET "Hundreds[3]" LOC = P67;
NET "Hundreds[3]" IOSTANDARD = LVTTL;
NET "Hundreds[4]" LOC = P74;
NET "Hundreds[4]" IOSTANDARD = LVTTL;
NET "Hundreds[5]" LOC = P75;
NET "Hundreds[5]" IOSTANDARD = LVTTL;
NET "Hundreds[6]" LOC = P78;
NET "Hundreds[6]" IOSTANDARD = LVTTL;
NET "Thousends[0]" LOC = P79;
NET "Thousends[0]" IOSTANDARD = LVTTL;
NET "Thousends[1]" LOC = P80;
NET "Thousends[1]" IOSTANDARD = LVTTL;
NET "Thousends[2]" LOC = P81;
NET "Thousends[2]" IOSTANDARD = LVTTL;
NET "Thousends[3]" LOC = P82;
NET "Thousends[3]" IOSTANDARD = LVTTL;
NET "Thousends[4]" LOC = P83;
NET "Thousends[4]" IOSTANDARD = LVTTL;
NET "Thousends[5]" LOC = P84;
NET "Thousends[5]" IOSTANDARD = LVTTL;
NET "Thousends[6]" LOC = P85;
NET "Thousends[6]" IOSTANDARD = LVTTL;
NET "TenThousends[0]" LOC = P87;
NET "TenThousends[0]" IOSTANDARD = LVTTL;
NET "TenThousends[1]" LOC = P88;
NET "TenThousends[1]" IOSTANDARD = LVTTL;
NET "TenThousends[2]" LOC = P92;
NET "TenThousends[2]" IOSTANDARD = LVTTL;
NET "TenThousends[3]" LOC = P93;
NET "TenThousends[3]" IOSTANDARD = LVTTL;
NET "TenThousends[4]" LOC = P94;
NET "TenThousends[4]" IOSTANDARD = LVTTL;
NET "TenThousends[5]" LOC = P95;
NET "TenThousends[5]" IOSTANDARD = LVTTL;
NET "TenThousends[6]" LOC = P97;
NET "TenThousends[6]" IOSTANDARD = LVTTL;
NET "negIndicator" LOC = P98;
NET "negIndicator" IOSTANDARD = LVTTL;

NET "ROMLoad" LOC = P40;
NET "ROMLoad" IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44;
NET "spi_mosi" IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45;
NET "spi_miso" IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48;
NET "spi_ss" IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43;
NET "spi_sck" IOSTANDARD = LVTTL;
NET "spi_channel[0]" LOC = P46;
NET "spi_channel[0]" IOSTANDARD = LVTTL;
NET "spi_channel[1]" LOC = P61;
NET "spi_channel[1]" IOSTANDARD = LVTTL;
NET "spi_channel[2]" LOC = P62;
NET "spi_channel[2]" IOSTANDARD = LVTTL;
NET "spi_channel[3]" LOC = P65;
NET "spi_channel[3]" IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55;
NET "avr_tx" IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59;
NET "avr_rx" IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39;
NET "avr_rx_busy" IOSTANDARD = LVTTL;

