#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38;
NET "rst_n" IOSTANDARD = LVTTL;

NET "cclk" LOC = P70;
NET "cclk" IOSTANDARD = LVTTL;

NET "led[0]" LOC = P134;
NET "led[0]" IOSTANDARD = LVTTL;
NET "led[1]" LOC = P133;
NET "led[1]" IOSTANDARD = LVTTL;
NET "led[2]" LOC = P132;
NET "led[2]" IOSTANDARD = LVTTL;
NET "led[3]" LOC = P131;
NET "led[3]" IOSTANDARD = LVTTL;
NET "led[4]" LOC = P127;
NET "led[4]" IOSTANDARD = LVTTL;
NET "led[5]" LOC = P126;
NET "led[5]" IOSTANDARD = LVTTL;
NET "led[6]" LOC = P124;
NET "led[6]" IOSTANDARD = LVTTL;
NET "led[7]" LOC = P123;
NET "led[7]" IOSTANDARD = LVTTL;
NET "ROMDataLine[0]" LOC = P1;
NET "ROMDataLine[0]" IOSTANDARD = LVTTL;
NET "ROMDataLine[1]" LOC = P2;
NET "ROMDataLine[1]" IOSTANDARD = LVTTL;
NET "ROMDataLine[2]" LOC = P5;
NET "ROMDataLine[2]" IOSTANDARD = LVTTL;
NET "ROMDataLine[3]" LOC = P6;
NET "ROMDataLine[3]" IOSTANDARD = LVTTL;
NET "ROMDataLine[4]" LOC = P7;
NET "ROMDataLine[4]" IOSTANDARD = LVTTL;
NET "ROMDataLine[5]" LOC = P8;
NET "ROMDataLine[5]" IOSTANDARD = LVTTL;
NET "ROMDataLine[6]" LOC = P9;
NET "ROMDataLine[6]" IOSTANDARD = LVTTL;
NET "ROMDataLine[7]" LOC = P10;
NET "ROMDataLine[7]" IOSTANDARD = LVTTL;
NET "ROMDataLine[8]" LOC = P11;
NET "ROMDataLine[8]" IOSTANDARD = LVTTL;
NET "ROMDataLine[9]" LOC = P12;
NET "ROMDataLine[9]" IOSTANDARD = LVTTL;
NET "ROMDataLine[10]" LOC = P14;
NET "ROMDataLine[10]" IOSTANDARD = LVTTL;
NET "ROMDataLine[11]" LOC = P15;
NET "ROMDataLine[11]" IOSTANDARD = LVTTL;
NET "ROMDataLine[12]" LOC = P16;
NET "ROMDataLine[12]" IOSTANDARD = LVTTL;
NET "ROMDataLine[13]" LOC = P17;
NET "ROMDataLine[13]" IOSTANDARD = LVTTL;
NET "ROMDataLine[14]" LOC = P21;
NET "ROMDataLine[14]" IOSTANDARD = LVTTL;
NET "ROMDataLine[15]" LOC = P22;
NET "ROMDataLine[15]" IOSTANDARD = LVTTL;

NET "ROMAddressLineCtl[0]" LOC = P57;
NET "ROMAddressLineCtl[0]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[1]" LOC = P58;
NET "ROMAddressLineCtl[1]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[2]" LOC = P66;
NET "ROMAddressLineCtl[2]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[3]" LOC = P67;
NET "ROMAddressLineCtl[3]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[4]" LOC = P74;
NET "ROMAddressLineCtl[4]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[5]" LOC = P75;
NET "ROMAddressLineCtl[5]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[6]" LOC = P78;
NET "ROMAddressLineCtl[6]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[7]" LOC = P79;
NET "ROMAddressLineCtl[7]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[8]" LOC = P80;
NET "ROMAddressLineCtl[8]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[9]" LOC = P81;
NET "ROMAddressLineCtl[9]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[10]" LOC = P82;
NET "ROMAddressLineCtl[10]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[11]" LOC = P83;
NET "ROMAddressLineCtl[11]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[12]" LOC = P84;
NET "ROMAddressLineCtl[12]" IOSTANDARD = LVTTL;
NET "ROMAddressLineCtl[13]" LOC = P85;
NET "ROMAddressLineCtl[13]" IOSTANDARD = LVTTL;

NET "ROMLoad" LOC = P40;
NET "ROMLoad" IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44;
NET "spi_mosi" IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45;
NET "spi_miso" IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48;
NET "spi_ss" IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43;
NET "spi_sck" IOSTANDARD = LVTTL;
NET "spi_channel[0]" LOC = P46;
NET "spi_channel[0]" IOSTANDARD = LVTTL;
NET "spi_channel[1]" LOC = P61;
NET "spi_channel[1]" IOSTANDARD = LVTTL;
NET "spi_channel[2]" LOC = P62;
NET "spi_channel[2]" IOSTANDARD = LVTTL;
NET "spi_channel[3]" LOC = P65;
NET "spi_channel[3]" IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55;
NET "avr_tx" IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59;
NET "avr_rx" IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39;
NET "avr_rx_busy" IOSTANDARD = LVTTL;

